*,
::before,
::after {
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  margin: 0;
  background-color: #212529;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 25px;
}

.header__nav-item a {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #ffffff;
  display: block;
  padding: 18px 0;
}

.header__nav-item a:hover,
.header__nav-item a:focus {
  color: #ffb742;
}

.header__nav-item .active {
  color: #ffb742;
}

.header__button {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: #ffb742;
  color: #212529;
  padding: 12px 26px;
  border-radius: 50px;
  cursor: pointer;
  min-width: 121px;
  border: none;
}

/* hero */

.hero {
  font-family: Inter, sans-serif;
  text-align: center;
  color: #ffffff;
  padding-top: 108px;
  padding-bottom: 136px;
}

.hero__text {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 50.8px;
  margin: 0;
}

.hero__text span {
  color: #ffb742;
  text-decoration: underline;
}

.hero__title {
  font-size: 4.8rem;
  line-height: 90.8px;
  margin-top: 0;
  margin-bottom: 25px;
}

.hero__description {
  font-size: 2.4rem;
  line-height: 50.8px;
  margin-top: 0;
  margin-bottom: 22px;
}

.hero__image {
  display: inline;
}

/* meter */

.meter.container {
  max-width: 1296px;
}

.meter__list {
  display: flex;
  justify-content: space-between;
  font-family: Inter, sans-serif;
  font-weight: 700;
}

.meter__item {
  width: 32%;
  display: flex;
  max-width: 416px;
}

.meter__link {
  background-color: #292b2e;
  display: block;
  padding: 25px;
  padding-left: 7%;
  padding-right: 7%;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.meter__link:hover,
.meter__link:focus {
  background-image: linear-gradient(
    to right,
    #ffb742,
    rgba(255, 123, 66, 0.76)
  );
}

.meter__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meter__description::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
}

.meter__description.first-child::before {
  background-image: url(../images/meter/img1.svg);
}

.meter__description.second-child::before {
  background-image: url(../images/meter/img2.svg);
}

.meter__description.third-child::before {
  background-image: url(../images/meter/img3.svg);
}

.meter__description > div {
  width: 45%;
}

.meter__description-number {
  font-size: 3.2rem;
  color: #ffb742;
}

.meter__description-text {
  font-size: 1.6rem;
  color: #ffffff;
}

.meter__description::after {
  content: "";
  background-image: url(../images/meter/img4.svg);
  display: block;
  width: 20px;
  height: 20px;
}

.meter__link:hover .meter__description-number,
.meter__link:focus .meter__description-number,
.meter__link:hover .meter__description-text,
.meter__link:focus .meter__description-text {
  color: #212529;
}

/* about */
/* skills */
/* works */

.about {
  display: flex;
  justify-content: space-between;
  padding-top: 221px;
  padding-bottom: 18px;
}

.about__name,
.skills__name,
.works__name {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #ffb742;
  padding: 6px 25px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
}

.about__title,
.skills__title,
.works__title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 30px;
}

.about__description,
.skills__description {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  line-height: 30px;
  color: #d4d4d4;
  margin-top: 0;
  margin-bottom: 54px;
  max-width: 700px;
}

.about button,
.skills button {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  color: #212529;
  background-color: #ffb742;
  border-radius: 50px;
  padding: 12px 40px;
  border: none;
}

/* skills */

.skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skills__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 560px;
}

.skills__list li {
  width: 80px;
  height: 80px;
  background-color: #383e45;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.skills__list li:hover,
.skills__list li:focus {
  background-color: rgba(255, 183, 66, 50%);
  border: 1px solid #000000;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}